.VolunteerPageBubbleStyle {
  background-color: white!important;
  border-radius: 30px !important;
  box-shadow: 0 0 8px 10px rgba(0, 0, 0, 2.0);
  border: 1px solid black;
  margin: 10px;
}

.ProgramResourcesBubbleStyle {
  background-color: white!important;
  border-radius: 30px !important;  
  box-shadow: 0 0 8px 10px rgba(0, 0, 0, 2.0);
  border: 1px solid black;
  margin: 5px;
}

.WelcomeVolunteerPageBubbleStyle {
  background-color: white!important;
  border-radius: 30px !important;  
  box-shadow: 0 0 8px 10px rgba(0, 0, 0, 2.0);
  border: 1px solid black;
}

.MobileVolunteerPageBubbleStyle {
  background-color: white!important;
  border-radius: 30px !important;  

  box-shadow: 0 0 8px 10px rgba(0, 0, 0, 2.0);
  border: 1px solid black;
}
h1 {
  color: black;
}

h2 {
  color: black;
}

h3 {
  color: black;
}

h4 {
  color: black;
}

h5 {
  color: black;
}

p {
  color: black;
}

.MobileVolunteerHomePage {
  background-color: #008751 !important;
  height: 650px;
}
