.VolunteerPageBubbleStyle {
  background-color: #008751 !important;
  border-radius: 5px solid #008751;
  box-shadow: 2px 2px 1px #6a6565 !important;
}

.link

.classDetailsPage{
  display: column;
  justify-content: space-evenly !important;
  height: 600px;
  background-color: #008751 !important;
  background-size: cover;
  background-position: cover;
}

.ProgramResourcesBubbleStyle {
  background-color: #008751 !important;
  border-radius: 5px solid #008751;
  box-shadow: 2px 2px 1px #6a6565 !important;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

h4 {
  color: white;
}

h5 {
  color: black;
}

p {
  color: white;
}

body {
  background-color: white;
}


