.VolunteerPageBubbleStyle {
  background-color: white!important;
  border-radius: 30px !important;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 2.0);
  border: 1px solid black;
  
}



.WelcomeVolunteerPageBubbleStyle {
  background-color: white!important;
  border-radius: 30px !important;  
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 2.0);
  border: 1px solid black;
}

.MobileVolunteerPageBubbleStyle {
  background-color: white!important;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 2.0);
  border: 1px solid black;
}

h1 {
  color: black;
  font-weight: bold !important;
  font-family: 'Montserrat', sans-serif !important;
  text-transform: none; 
}
h2 {
  color: black;
  font-weight: bold !important;
    font-family: 'Montserrat', sans-serif !important;
    text-transform: none; }

h3 {
  color: black;
  font-weight: bold !important;
    font-family: 'Montserrat', sans-serif !important;
    text-transform: none; 
    border-radius: 10px;
}
h4 {
  color: black;
  font-weight: lighter !important;
  font-family: 'Montserrat', sans-serif !important;
  text-transform: none; 
}

h5 {
  color: black;
  font-weight: lighter !important;
  font-family: 'Montserrat', sans-serif !important;
  text-transform: none; 
  
}

p {
  color: black;
  font-weight: lighter !important;
  font-family: 'Montserrat', sans-serif !important;
  text-transform: none; 
}

.MobileVolunteerClassPage {
  background-color: #008751 !important;
  height: 650px;
}

.InfoIcon {
  transform: scale(1.7);
  float: right !important;
  margin-top: 6px;
  color:  #008751 !important;
}

.ClickButtonsContainer{
  margin-top: 70% !important;
  margin-bottom: 5px;
}
.ProgramResourcesBubbleStyle {
  background-color: white!important;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 2.0);
  border-radius: 20px !important;
  
}

.ImageBubbleStyle{
  background-color: white!important;
  border-radius: 20px !important;
  width: 100%;
}