.formPanel {
    width: 400px !important;
    height: 240px !important;
    border-radius: 20px !important;
    background-color: white !important;
    font-weight: lighter !important;
    font-family: 'Montserrat', sans-serif !important;
    text-transform: none; 
}

.mobileReportFormButton {
    background-color: #008751!important;
    color: white !important;
    margin-top: 10px !important;
    margin-left: 10px !important;
    margin-bottom: 10px !important;
    display: column !important;
    font-weight: lighter !important;
    font-family: 'Montserrat', sans-serif !important;
    text-transform: none; 
}

.ClassDetailsText {
    font-weight: bold !important;
    font-family: 'Montserrat', sans-serif !important;
    text-transform: none; 
}

.TextField {
    margin-bottom: 5px;;
}

.UploadPicturesText {
    font-weight: bold !important;
    font-family: 'Montserrat', sans-serif !important;
    text-transform: none; 
    color: black;
    background-color: white;
}