<<<<<<< HEAD
html {
  -webkit-font-smoothing: antialiased;
}

body {
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    line-height: 1;
    background-color: #fff;
}

/* .nav-title {
  cursor: pointer;
    font-size: 24px;
    font-weight: 900;
    display: inline-block;
    color: whitesmoke;
    padding-left: 10px;
    padding-top: 20px;
    text-transform: none;
} */


.nav {
  margin: 0;
  background-color: #f6f7f8;
=======
.nav-title {
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  color: #f2f2f2;
  padding-left: 10px;
}

.nav {
  margin: 0 0 30px;
  background-color: #008751;
>>>>>>> develop
  overflow: hidden;
  display: inline;
 
  
} 
/* 
.nav-link {
<<<<<<< HEAD
  float: right;
  margin-right: 30px;
  margin-top: -80px;
  color: #61b42a;
  background-color: #fdfdfd;
=======
  float: left;
  color: #f2f2f2;
  background-color: #008751;
>>>>>>> develop
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 20px;

<<<<<<< HEAD
   these last two make the logout button in
  the nav bar look like another link 
 
  cursor: pointer;
  outline:0;
  flex: 1;
  display: right;
  justify-content: flex-end;
} */

.nav-link:hover {
  color: #e7a011
=======
  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.nav-link:hover {
  background-color: #d59844;
>>>>>>> develop
}

.nav-right {
  float: right;
<<<<<<< HEAD
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.maillink {
text-decoration-line: none;

=======
>>>>>>> develop
}
